.container {
  margin-top: 10%;
  background: rgb(135deg, rgb(255, 255, 255, 0.1), rgb(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.col1 {
  padding: 1%;
}

.text1 {
  font-size: 145%;
}

.sgnup {
  text-align: center;
}

.form-control {
  font-size: 140%;
}
