<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@600&family=Montserrat:wght@200&family=Roboto+Condensed:wght@300;700&family=Roboto:wght@100;300&family=Ubuntu:wght@300&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@600&family=Roboto+Condensed:wght@300;700&family=Roboto:wght@100;300&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@600&family=Montserrat:wght@200&family=Roboto+Condensed:wght@300;700&family=Roboto:wght@100;300&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&family=Roboto:wght@100;300&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <title>{% block title %}Home{% endblock %}</title>
  </head>

  <body class="mainbody vh-100 overflow-hidden overflow-y-scroll">
    <div
      class="bg-image"
      style="
        background-image: url('https://img.freepik.com/free-vector/white-abstract-wallpaper_23-2148830026.jpg?w=2000');
        height: 100vh;
      "
    >
      <!--Navbar-->
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <!--Logo-->
          <a
            class="navbar-brand fs-2 ml-lg-4"
            style="
              font-family: 'Cairo', sans-serif;
              color: whitesmoke;
              background-color: transparent;
              box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.37);
              padding-left: 1%;
              padding-right: 1%;
            "
            href="/"
            >K A N O N N E T ツ</a
          >
          <!--Toggle Bar-->
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <!--Side Bar-->
          <div
            class="sidebar offcanvas offcanvas-end"
            tabindex="-1"
            id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel"
          >
            <!--Side Bar Header-->
            <div class="offcanvas-header text-white border-bottom">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
                Offcanvas
              </h5>
              <button
                type="button"
                class="btn-close btn-close-white shadow-none"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              ></button>
            </div>
            <!--Side Bar Body-->
            <div class="offcanvas-body">
              <ul
                class="navbar-nav justify-content-start align-items-center fs-5 flex-grow-1 pe-3 fs-3"
                style="font-family: 'Ubuntu', sans-serif"
              >
                <li class="nav-item">
                  <a
                    class="nav-link active mx-lg-3"
                    aria-current="page"
                    href="/"
                    >Home</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link mx-lg-3" href="/about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link mx-lg-3" href="/contact">Contacts</a>
                </li>
              </ul>

              <div
                class="d-flex justify-content-end align-items-center gap-3"
                style="font-family: 'Cairo', sans-serif"
              >
                <a
                  href="login"
                  class="btn1 text-decoration-none rounded-2 px-3 py-2 fs-5 h-75"
                  role="link"
                  >LOGIN</a
                >
                <a
                  href="sign-up"
                  class="btn2 text-decoration-none rounded-2 mx-3 px-3 py-2 fs-5 h-75"
                  role="link"
                  >SIGN UP</a
                >
              </div>
            </div>
          </div>
        </div>
      </nav>

      <div class="container1">{% block content %} {% endblock %}</div>

      <script src="js/bootstrap.bundle.min.js"></script>
      <script
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"
      ></script>
    </div>
  </body>
</html>
