{% extends "base.html" %} {% block title %}Contact Page{% endblock %} {% block
content %}

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/land.css') }}"
/>

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/contact.css') }}"
/>

<div class="container">
  <h1 class="text-center" style="font-family: 'Cairo', sans-serif">Contacts</h1>
  <div class="row mt-5 mb-5">
    <div class="col-md-6">
      <h2 class="text-center" style="font-family: 'Cairo', sans-serif">
        Address
      </h2>
      <address class="contact-info" style="font-family: 'Ubuntu', sans-serif">
        123 Main Street<br />
        City, State, ZIP
      </address>
    </div>
    <div class="col-md-6">
      <h2 class="text-center" style="font-family: 'Cairo', sans-serif">
        Contact Numbers
      </h2>
      <ul class="list-unstyled contact-info">
        <li style="font-family: 'Ubuntu', sans-serif">
          <strong>Landline:</strong> +1 (555) 123-4567
        </li>
        <li style="font-family: 'Ubuntu', sans-serif">
          <strong>Mobile:</strong> +1 (555) 987-6543
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
